.overlay-coinmain{

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.306);
    border-radius: .5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 4em;

}

div.overlay-coinmain a{
    text-decoration: none !important;
    color: rgba(3, 50, 96, 0.979);
    font-weight: bold;
    font-size: 2rem;
}




@media (min-width: 990px) {

    div.overlay-coinmain a{
        margin-left: 0;
    }

    span.login-icon {
        margin-right: 2em;

    }
}